{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/order": [
      2,
      {
        "groups": ["external", "internal", "builtin", "parent", "sibling", "index"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "dot-notation": 2,
    "no-const-assign": 2,
    "no-dupe-keys": 2,
    "no-duplicate-imports": 2,
    "no-empty": 2,
    "no-multi-spaces": 2,
    "no-shadow-restricted-names": 2,
    "no-undef-init": 2,
    "no-unused-vars": [
      2,
      {
        "args": "after-used"
      }
    ],
    "no-var": 2,
    "object-shorthand": [2, "always"],
    "prefer-const": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "prettier/prettier": [
      2,
      {
        "endOfLine": "auto"
      }
    ],
    "quote-props": [2, "as-needed"],
    "react/react-in-jsx-scope": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
